/* Font link here  */

@import url("https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* variabls */
:root {
  /* color  */
  --common-white: #ffffff;
  --common-black: #000000;
  --primary-color-1: #ffbe34;
  --primary-color-2: #091242;
  --secondary-2: #f4f4f4;
  --secondary-navy: rgba(9, 18, 66, 1);
  --Heading-Font-color: #1c1f35;
  --Paragraph-Font-color: #666c89;
  --Gradiant-color: #ffb629, #ffda56, #ffd7a6;
  --icon-bg-color: #273270;
  --icon-border: 1px solid #4a57a1;
  --shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);

  /* font size  */
  --heading-font-size-1: clamp(50px, 4vw, 65px);
  --heading-font-size-2: clamp(20px, 4vw, 65px);
  --heading-font-size-3: clamp(15px, 3vw, 50px);
  --paragraph-font-size: clamp(10px, 2vw, 16px);
  --semibold: 500;
  --bold: 700;

  /* font family  */
  --primary-font-Rubik: "Rubik", sans-serif;
  --secondary-font-Krub: "Krub", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* START CHANGE-LOG SECITON */
#changeLog{
  width: 100%;
  min-height: 60vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  
  
}

.changeContent{
  background: #091242;
  margin: auto;
  padding: 70px 40px ;
  
}
.changeContent h1{
  color: #FFF;
  font-family: var(--primary-font-Rubik);
  font-size: clamp(25px, 2vw, 30px);
  font-style: normal;
  font-weight: 700;
  line-height: 116%; /* 40.6px */
  display: inline;
  margin: 30px 10px ;

}
.changeContent p{
  color: #FFF;
font-family: var(--secondary-font-Krub);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 116%; /* 18.56px */
display: inline;

}

.protectionInput{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 30px ;
  flex-wrap: wrap;
}
.protectionInput input {
  padding: 15px 50px  ;
  background-color:transparent;
  border: solid 1px rgb(18, 58, 138);
  color: white !important;
}
.protectionInput input:focus {
  padding: 15px 50px  ;
  background-color:transparent;
  border: solid 1px white;
  color: white !important;
}

.protectionInput input::placeholder {
  color: white !important;
}



@media screen and (max-width:768px) {
  .changeContent{
    background: #091242;
    margin: auto;
    padding: 20px ;
    display: inline-block;
    
  }
}


/* END CHANGE-LOG SECITON */
