/* Font link here  */

@import url("https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* variabls */
:root {
  /* color  */
  --common-white: #ffffff;
  --common-black: #000000;
  --primary-color-1: #ffbe34;
  --primary-color-2: #091242;
  --secondary-2: #f4f4f4;
  --secondary-navy: rgba(9, 18, 66, 1);
  --Heading-Font-color: #1c1f35;
  --Paragraph-Font-color: #666c89;
  --Gradiant-color: #ffb629, #ffda56, #ffd7a6;
  --icon-bg-color: #273270;
  --icon-border: 1px solid #4a57a1;
  --shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);

  /* font size  */
  --heading-font-size-1: clamp(50px, 4vw, 65px);
  --heading-font-size-2: clamp(20px, 4vw, 65px);
  --heading-font-size-3: clamp(15px, 3vw, 50px);
  --paragraph-font-size: clamp(10px, 2vw, 16px);
  --semibold: 500;
  --bold: 700;

  /* font family  */
  --primary-font-Rubik: "Rubik", sans-serif;
  --secondary-font-Krub: "Krub", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* START SERVICE-SINGLE SHIP SECITON   */
#ssShip{
  width: 100%;
  min-height: 50vh;
  background-color: #ffffff;
  margin: 50px 0px 20px 0px ;
}
.shipImg img {
  width: 100%;
  height: auto;
} 
.shipHeadingText{
  display: flex;
  align-items: center;
  align-content: center;
  gap: 20px ;
  margin: 40px 0px 20px 0px  ;
}
.shipHeadingText h1 {
  color: #1C1F35;
text-align: center;
font-family: var(--primary-font-Rubik);
font-size: clamp(20px,4vw,30px);
font-style: normal;
font-weight: 600;
line-height: normal;
}
.shipParagraphText p{
  color: #666C89;
font-family: var(--secondary-font-Krub);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 151.523%; 
word-break: break-all;
}
/* END SERVICE-SINGLE SHIP SECITON   */

/* START SERVICE-SINGLE BENIFIT SECITON  */
#benifit{
  width: 100%;
  min-height: 60vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  align-content: center;

}
.benifitColWrapper{
  display: flex;
  align-items: start;
  align-content: center;
  flex-direction: column;
  justify-content: space-around;
  min-height: 350px;
  margin-bottom: 20px ;

}
.benifitColWrapper h1 {
  color: #1C1F35;
font-family: var(--primary-font-Rubik);
font-size: clamp(20px,4vw,30px);
font-style: normal;
font-weight: 600;
line-height: normal;
}
.benifitColWrapper .benifitP1{
  color: #666C89;
font-family: var(--secondary-font-Krub);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 151.523%; /* 24.244px */
}
.benifitP2 a {
  color: #1C1F35;
font-family: var(--primary-font-Rubik);
font-size: clamp(16px,2vw,20px);
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
transition: .2s ease-in-out;
}
.benifitP2 a:hover {
  color:var(--primary-color-1);
}
.benifitP2 img {
  padding: 0px 10px 0px 0px  ;
  transition: .2s ease-in-out;
}
.benifitP2:hover img {
  padding-left: 20px !important;
}

.benifitImgWrapper img {
  width: 100%;
  height: 100%;
  display: block;
}
.benifitColWrapper2{
  min-height: 200px;
}
/* END SERVICE-SINGLE BENIFIT SECITON  */

/* START SERVICE-SINGLE PULSE SECITON  */
#ssPulse{
  width: 100%;
  min-height: 50vh;
  background: #ffffff;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  align-content: center;
}
.pulseColWrapper{
  background: url(../img/services-single/delivery-img.png) no-repeat;
  width: 100% ;
  min-height: 400px;
  display: block;
  background-position: center;
  background-size: cover;

}

/* start copy pulse */

.pulseColWrapper {
	height:100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pulse-center-item {
	background-color: transparent;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	position: relative;
	z-index: 90;
  display: grid;
  place-items: center;
  font-size: auto;
  cursor: pointer;
}
.pulse-circle {
	border-radius: 50%;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	position: absolute;
	opacity: 0;
	animation: scaleIn 3s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
  margin: -48px -45px;
}

@keyframes scaleIn {
	from {
		transform: scale(0.5, 0.5);
		opacity: 0.5;
	}
	to {
		transform: scale(1.2);
		opacity: 0;
	}
}
.pulsecontainer i{
  font-size: 32px ;
  margin-top: -13px;
  margin-left: -2px;
}
/* end copy pulse */

.pulseHeadingText h1{
    color: #1C1F35;
  font-family: var(--primary-font-Rubik);
  font-size: clamp(20px,4vw,30px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
}
.pulseHeadingText p{
  color: #666C89;
  font-family: var(--secondary-font-Krub);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%; 
  word-break: keep-all;
}

.pulseSecondColWrapper{
  padding: 50px 20px ;
}
@media screen and (max-width:1200px) {
  .pulseSecondColWrapper{
    padding: 50px 0px ;
  }
}
/* END SERVICE-SINGLE PULSE SECITON  */